@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

.caixa {
    background-color: #FA8072;
}

.titulo {
    color: white !important;
}

.postagens {
    background-color: white;
}

.text-decorator-none {
    text-decoration: none;
}

/*
; - usado para finalizar 
botton esta com o nome classname="botao" que se encontra na pagina 'login'
*/