.imagem2 {
    background-image: url(https://i.imgur.com/x6B8vBe.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textocadastro {
    font-weight: bold !important;
    border-color: #b18597 !important;
}